.titulo{
    @include center
}

.cards-mia{
    @include cards
}

.container-faq{
    @extend %orden
}
.faq-preguntas{
    @extend %center
}


.primary{
    color: nth($colores, 3);
}
.container-mio{
   background-color: nth($colores,1 );
}
.items-mia{
    color: nth($colores, 4);
}
*{
    font-size: 16px;
}
body{
    overflow-x: hidden;
}
.produ{
    @include center
}
.btn-mio{
    color: nth($colores , 1 );
}

.cards-mias{
    @include cardsbody
}
.card-mio{
    @include otrascards
}
.cards-asociados{
    @include cards   
}